[Desktop Entry]
Name=netwag
Comment=GUI for netwox
Comment[pl]=Graficzny interfejs do netwoksa
Exec=netwag
Icon=netwag
StartupNotify=false
Terminal=false
Type=Application
Categories=Network;
# vi: encoding=utf-8
